Exercise
Write a banking application with the following functionality:
● Deposit, withdraw and maintain a balance for multiple customers
● Return a customer’s balance and the bank’s total balance
● Prevent customers from withdrawing more money than they have in their account
Example test scenario
When Alice deposits $30 and withdraws $20
Then Alice’s balance will be $10 and the bank’s balance will be $10
Alice will be prevented from withdrawing another $20 to prevent her balance going negative